---
import GasLayout from "../layouts/gas.astro";

import { Card } from "primereact/card";

export interface AttributionInterface {
    name: string;
    role: string;
    previewUrl: string;
    previewAlt: string;
    downloadUrl: string;
    authorName: string;
    authorUrl: string;
    publisherName: string;
    publisherUrl: string;
    licenseName: string;
    licenseUrl: string;
}
/*
const attributionTemplate = {
    name: "",
    role: "",
    previewUrl: "",
    previewAlt: "",
    downloadUrl: "",
    authorName: "",
    authorUrl: "",
    publisherName: "",
    publisherUrl: "",
    licenseName: "",
    licenseUrl: "",
};
*/
const attributions = [
    {
        name: "Empty projection screen isolated on white background",
        role: "Projector Screen Background",
        previewUrl:
            "/images/vecteezy_empty-projection-screen-vector-design-illustration-isolated-on-white-background_1214033/projection_screen.jpg",
        previewAlt: "Picture of a Projector Screen",
        downloadUrl:
            "https://www.vecteezy.com/vector-art/1214033-empty-projection-screen-isolated-on-white-background",
        authorName: "Timparu Emil",
        authorUrl: "https://www.vecteezy.com/members/emiltimplaru",
        publisherName: "Vecteezy.com",
        publisherUrl: "https://www.vecteezy.com/free-vector/screen",
        licenseName: "License",
        licenseUrl: "https://creativecommons.org/licenses/by-nc/4.0/",
    },
    {
        name: "Music notes rainbow colourful on white background",
        role: "Song Background",
        previewUrl:
            "/images/vecteezy_music-notes-rainbow-colourful-on-white-background_7206554_442/vecteezy_music-notes-rainbow-colourful-on-white-background_7206554-transparent.svg",
        previewAlt: "Picture of Musical Notation",
        downloadUrl:
            "https://www.vecteezy.com/vector-art/7206554-music-notes-rainbow-colourful-on-white-background",
        authorName: "Matt Cole",
        authorUrl: "https://www.vecteezy.com/members/graphicsrf",
        publisherName: "Vecteezy.com",
        publisherUrl: "https://www.vecteezy.com/free-vector/music-notes",
        licenseName: "License",
        licenseUrl:
            "/images/vecteezy_music-notes-rainbow-colourful-on-white-background_7206554_442/Vecteezy-License-Information.pdf",
    },
    {
        name: "Full screen Vector Icon Design",
        role: "Landscape Mode",
        previewUrl:
            "/images/vecteezy_full-screen-vector-icon-design_25964485_482/vecteezy_full-screen-vector-icon-design_25964485.jpg",
        previewAlt: "Picture of a movie in full-view",
        downloadUrl:
            "https://www.vecteezy.com/vector-art/25964485-full-screen-vector-icon-design",
        authorName: "Muhammad Usman",
        authorUrl: "https://www.vecteezy.com/members/usmanabce",
        publisherName: "Vecteezy.com",
        publisherUrl:
            "https://www.vecteezy.com/free-vector/landscape-device-orientation",
        licenseName: "License",
        licenseUrl:
            "/images/vecteezy_full-screen-vector-icon-design_25964485_482/Vecteezy-License-Information.pdf",
    },
];
---

<style is:inline>
    .attributions {
        grid-auto-rows: 1fr;
    }
    .attribution .p-card-title {
        text-align: center;
    }
    .attribution .p-card-body {
        height: 100%;
    }
    .attribution .p-card-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .attribution-image {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 70%;
        width: 100%;
        text-align: center;
    }
    .attribution-image img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: auto;
        align-self: center;
    }
    .attribution-caption {
        height: 30%;
        width: 100%;
        padding: 1em;
        text-align: center;
    }
    .attribution-caption a {
        font-weight: bold;
        color: inherit;
        text-decoration: none;
    }
    .attribution-caption a:hover {
        text-decoration: underline;
    }
    @media screen and (min-width: 2000px) {
        /* xl screen size */
        p,
        .attribution-caption {
            font-size: 1.5rem;
        }

        .attribution .p-card-title {
            font-size: 2rem;
        }
    }
</style>
<GasLayout>
    <p class="xl:text-2xl">
        This project has been made possible by the generosity of artists giving
        away their work for free!
    </p>
    <p class="xl:text-2xl">
        The art is free for download at the following websites:
    </p>
    <div class="attributions grid">
        {
            attributions.map(
                (attribution: AttributionInterface) => (
                    <div class="attribution col-12 md:col-6 lg:col-4 xl:col-3 my-3">
                        <Card
                            title={attribution.role}
                            className="h-full lg:flex lg:justify-content-between"
                            client:only
                        >
                            <div class="attribution-image">
                                <img
                                    alt={attribution.previewAlt}
                                    width="120"
                                    height="120"
                                    src={attribution.previewUrl}
                                />
                            </div>
                            <div class="attribution-caption">
                                <a href={attribution.downloadUrl}>
                                    {attribution.name}
                                </a>
                                by
                                <a href={attribution.authorUrl}>
                                    {attribution.authorName}
                                </a>
                                at
                                <a href={attribution.publisherUrl}>
                                    {attribution.publisherName}
                                </a>
                                . (<a href={attribution.licenseUrl}>License</a>)
                            </div>
                        </Card>
                    </div>
                ),
            )
        }
        <div class="attribution col-12 md:col-6 lg:col-4 xl:col-3 my-3">
            <Card
                title="Website Background"
                className="h-full lg:flex lg:justify-content-between"
                client:only
            >
                <div class="attribution-image">
                    <img
                        alt="Website Background"
                        width="120"
                        height="120"
                        src="/images/FreeVector-Clouds-And-Birds/FreeVector-Clouds-And-Birds.jpg"
                    />
                </div>
                <div class="attribution-caption">
                    <a href="https://www.freevector.com/clouds-and-birds/"
                        >Clouds and Birds</a
                    >
                     by Akira at
                    <a href="https://www.freevector.com/clouds-and-birds/"
                        >FreeVector.com</a
                    >
                     under the <br />
                    <a href="https://creativecommons.org/licenses/by-nc/4.0/"
                        >Creative Commons Attribution-NonCommercial 4.0</a
                    > license.
                </div>
            </Card>
        </div>
        <div class="attribution col-12 md:col-6 lg:col-4 xl:col-3 my-3">
            <Card
                title="Film Slide"
                className="h-full lg:flex lg:justify-content-between"
                client:only
            >
                <div class="attribution-image">
                    <img
                        alt="Film Slide"
                        width="120"
                        height="120"
                        src="/images/vecteezy_photo-negative-illustration-vector-elements_171597/Nov009.svg"
                    />
                </div>
                <div class="attribution-caption">
                    <a
                        href="https://www.vecteezy.com/vector-art/171597-vector-set-of-photo-negatives"
                        >Vector Set Of Photo Negatives</a
                    >
                     Free Vector by
                    <a href="https://www.vecteezy.com/members/happymeluv"
                        >happymeluv</a
                    >
                     at
                    <a
                        href="https://www.vecteezy.com/free-vector/film-projector"
                        >Vecteezy</a
                    >
                     (<a
                        href="/images/vecteezy_photo-negative-illustration-vector-elements_171597/Vecteezy-License-Information.pdf"
                        >License</a
                    >)
                </div>
            </Card>
        </div>
        <div class="attribution col-12 md:col-6 lg:col-4 xl:col-3 my-3">
            <Card
                title="Butterfly Icon"
                className="h-full lg:flex lg:justify-content-between"
                client:only
            >
                <div class="attribution-image">
                    <img
                        alt="Butterfly Icon"
                        width="120"
                        height="120"
                        src="/images/vecteezy_set-of-butterflies-of-different-shapes_7783387_243/vecteezy_set-of-butterflies-of-different-shapes_7783387.jpg"
                    />
                </div>
                <div class="attribution-caption">
                    <a
                        href="https://www.vecteezy.com/vector-art/7783387-set-of-butterflies-of-different-shapes"
                        >Set of butterflies of different shapes</a
                    >
                     Free Vector by
                    <a href="https://www.vecteezy.com/members/plarisa110946753"
                        >Svitlana Panteley</a
                    >
                     at
                    <a href="https://www.vecteezy.com/free-vector/butterfly"
                        >Vecteezy</a
                    >
                     (<a
                        href="/images/vecteezy_set-of-butterflies-of-different-shapes_7783387_243/Vecteezy-License-Information.pdf"
                        >License</a
                    >)
                </div>
            </Card>
        </div>
        <div class="attribution col-12 md:col-6 lg:col-4 xl:col-3 my-3">
            <Card
                title="404 Page"
                className="h-full lg:flex lg:justify-content-between"
                client:only
            >
                <div class="attribution-image">
                    <img
                        alt="404 Page"
                        width="120"
                        height="120"
                        src="/images/vecteezy_a-boy-with-three-cute-sheep-on-white-background-illustration_1424929/1o34_b837_200914.jpg"
                    />
                </div>
                <div class="attribution-caption">
                    <a
                        href="https://www.vecteezy.com/vector-art/1424929-a-boy-with-three-cute-sheep-on-white-background"
                        >A boy with three cute sheep on white background</a
                    >
                     Free Vector by
                    <a href="https://www.vecteezy.com/members/graphicsrf"
                        >Matt Cole</a
                    >
                     at
                    <a href="https://www.vecteezy.com/free-vector/shepherd"
                        >Vecteezy</a
                    >
                     (<a
                        href="/images/1424929-a-boy-with-three-cute-sheep-on-white-background/Vecteezy-License-Information.pdf"
                        >License</a
                    >)
                </div>
            </Card>
        </div>
        <div class="attribution col-12 md:col-6 lg:col-4 xl:col-3 my-3">
            <Card
                title="Editor's Button"
                className="h-full lg:flex lg:justify-content-between"
                client:only
            >
                <div class="attribution-image">
                    <img
                        alt="Editor's Button"
                        width="120"
                        height="120"
                        src="/images/vecteezy_wireless-device-connetion-flat-style-illustration-vector-design_8608300_677/vecteezy_wireless-device-connetion-flat-style-illustration-vector-design_8608300.jpg"
                    />
                </div>
                <div class="attribution-caption">
                    <a
                        href="https://www.vecteezy.com/vector-art/8608300-wireless-device-connetion-flat-style-illustration-vector-design"
                        >Wireless device connetion flat style illustration
                        vector design</a
                    >
                     Free Vector by
                    <a href="https://www.vecteezy.com/members/taufiqanwar"
                        >Taufiq Anwar</a
                    >
                     at
                    <a href="https://www.vecteezy.com/free-vector/editor"
                        >Vecteezy</a
                    >
                     (<a
                        href="/images/vecteezy_wireless-device-connetion-flat-style-illustration-vector-design_8608300_677/Vecteezy-License-Information.pdf"
                        >License</a
                    >)
                </div>
            </Card>
        </div>
        <div class="attribution col-12 md:col-6 lg:col-4 xl:col-3 my-3">
            <Card
                title="Audience's Button"
                className="h-full lg:flex lg:justify-content-between"
                client:only
            >
                <div class="attribution-image">
                    <img
                        alt="Audience's Button"
                        width="120"
                        height="120"
                        src="/images/vecteezy_projector-vector-icon-sign-icon-vector-illustration-for-personal-and-commercial-use-clean-look-trendy-icon_349492/Electronic_Devices_(171).jpg"
                    />
                </div>
                <div class="attribution-caption">
                    <a
                        href="https://www.vecteezy.com/vector-art/349492-projector-vector-icon"
                        >Projector Vector Icon</a
                    >
                     Free Vector by
                    <a href="https://www.vecteezy.com/members/iyikon"
                        >Muhammad Khaleeq</a
                    >
                     at
                    <a href="https://www.vecteezy.com/free-vector/projector"
                        >Vecteezy</a
                    >
                     (<a
                        href="/images/vecteezy_projector-vector-icon-sign-icon-vector-illustration-for-personal-and-commercial-use-clean-look-trendy-icon_349492/Vecteezy-License-Information.pdf"
                        >License</a
                    >)
                </div>
            </Card>
        </div>
        <div class="attribution col-12 md:col-6 lg:col-4 xl:col-3 my-3">
            <Card
                title="Songleader's Button"
                className="h-full lg:flex lg:justify-content-between"
                client:only
            >
                <div class="attribution-image">
                    <img
                        alt="Songleader's Button"
                        width="120"
                        height="120"
                        src="/images/vecteezy_woman-singing-on-white-background-illustration_420208/zkzo_vw7h_171123.jpg"
                    />
                </div>
                <div class="attribution-caption">
                    <a
                        href="https://www.vecteezy.com/vector-art/420208-woman-singing-on-white-background"
                        >Projector Vector Icon</a
                    >
                     Free Vector by
                    <a href="https://www.vecteezy.com/members/graphicsrf"
                        >Matt Cole</a
                    >
                     at
                    <a href="https://www.vecteezy.com/free-vector/singer"
                        >Vecteezy</a
                    >
                     (<a
                        href="/images/vecteezy_woman-singing-on-white-background-illustration_420208/Vecteezy-License-Information.pdf"
                        >License</a
                    >)
                </div>
            </Card>
        </div>
        <div class="attribution col-12 md:col-6 lg:col-4 xl:col-3 my-3">
            <Card
                title="Plan Button"
                className="h-full lg:flex lg:justify-content-between"
                client:only
            >
                <div class="attribution-image">
                    <img
                        alt="Plan Button"
                        width="120"
                        height="120"
                        src="/images/vecteezy_hand-holding-pen-and-clipboard-with-plan-checklist-flat-design-vector-with-space-for-use-as-poster-or-banner_464142/handillus_27.jpg"
                    />
                </div>
                <div class="attribution-caption">
                    <a
                        href="https://www.vecteezy.com/vector-art/464142-hand-holding-pen-and-clipboard-with-plan-checklist"
                        >Hand holding pen and clipboard with plan checklist</a
                    >
                     Free Vector by
                    <a href="https://www.vecteezy.com/members/amy1313"
                        >lukpedclub W</a
                    >
                     at
                    <a href="https://www.vecteezy.com/free-vector/plan"
                        >Vecteezy</a
                    >
                     (<a
                        href="/images/464142-hand-holding-pen-and-clipboard-with-plan-checklist/Vecteezy-License-Information.pdf"
                        >License</a
                    >)
                </div>
            </Card>
        </div>
        <div class="attribution col-12 md:col-6 lg:col-4 xl:col-3 my-3">
            <Card
                title="Lyrics Button"
                className="h-full lg:flex lg:justify-content-between"
                client:only
            >
                <div class="attribution-image">
                    <img
                        alt="Lyrics Button"
                        width="120"
                        height="120"
                        src="/images/vecteezy_paper-business-contract-pen-signature-vector-icon_546602/contracts_002.jpg"
                    />
                </div>
                <div class="attribution-caption">
                    <a
                        href="https://www.vecteezy.com/vector-art/546602-paper-business-contract-pen-signature-vector-icon"
                        >Paper Business Contract Pen Signature vector icon</a
                    >
                     Free Vector by
                    <a href="https://www.vecteezy.com/members/goff-brian"
                        >Brian Goff</a
                    >
                     at
                    <a href="https://www.vecteezy.com/free-vector/pen-and-paper"
                        >Vecteezy</a
                    >
                     (<a
                        href="/images/vecteezy_paper-business-contract-pen-signature-vector-icon_546602/Vecteezy-License-Information.pdf"
                        >License</a
                    >)
                </div>
            </Card>
        </div>
        <div class="attribution col-12 md:col-6 lg:col-4 xl:col-3 my-3">
            <Card
                title="Sing Button"
                className="h-full lg:flex lg:justify-content-between"
                client:only
            >
                <div class="attribution-image">
                    <img
                        alt="Sing Button"
                        width="120"
                        height="120"
                        src="/images/vecteezy_children-playing-various-music-instrument-illustration_2268105/children_playing_music_and_instrument_generated.jpg"
                    />
                </div>
                <div class="attribution-caption">
                    <a
                        href="https://www.vecteezy.com/vector-art/464142-hand-holding-pen-and-clipboard-with-plan-checklist"
                        >Children playing various music instrument illustration</a
                    >
                     Free Vector by
                    <a href="https://www.vecteezy.com/members/imghani"
                        >Irfan Muhammad Ghani</a
                    >
                     at
                    <a href="https://www.vecteezy.com/free-vector/conductor"
                        >Vecteezy</a
                    >
                     (<a
                        href="/images/vecteezy_children-playing-various-music-instrument-illustration_2268105/Vecteezy-License-Information.pdf"
                        >License</a
                    >)
                </div>
            </Card>
        </div>
        <div class="attribution col-12 md:col-6 lg:col-4 xl:col-3 my-3">
            <Card
                title="Design Button"
                className="h-full lg:flex lg:justify-content-between"
                client:only
            >
                <div class="attribution-image">
                    <img
                        alt="Design Button"
                        width="120"
                        height="120"
                        src="/images/vecteezy_painter-with-buckets-of-paint_7700604_871/vecteezy_painter-with-buckets-of-paint_7700604.jpg"
                    />
                </div>
                <div class="attribution-caption">
                    <a
                        href="https://www.vecteezy.com/vector-art/7700604-painter-with-buckets-of-paint"
                        >Painter with buckets of paint</a
                    >
                     Free Vector by
                    <a href="https://www.vecteezy.com/members/graphicsrf"
                        >Matt Cole</a
                    >
                     at
                    <a href="https://www.vecteezy.com/free-vector/painter"
                        >Vecteezy</a
                    >
                     (<a
                        href="client/public/images/vecteezy_painter-with-buckets-of-paint_7700604_871/Vecteezy-License-Information.pdf"
                        >License</a
                    >)
                </div>
            </Card>
        </div>
    </div>
</GasLayout>
